venv/
grammer/antlr-4.13.1-complete.jar
parser/EdgeFlow*
parser/*.interp
parser/*.tokens
parser/__pycache__/
parser/.antlr/
.coverage
coverage.xml
coverage.svg
coverage/
frontend/coverage/
backend/coverage/
htmlcov/
